@model UserProfileViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}
<h1>User Profile</h1>
<div>
    Bonjour et bienvenue @Model.UserApp.UserName ! 
    @*<a asp-controller="Appointment" asp-action="GetAll" asp-route-userId=@Model.User.Id>Manage my tappointments</a>
    
    *@
    @if (@Model.Appointments.Count() != 0)
    {
        @foreach (var appointment in Model.Appointments)
        {
            <div>
                <h4>@appointment.Title</h4>
                <p>Date du Rendez-vous: @appointment.StartDate</p>
            </div>
        }

    }
    else
    {
        <p>Aucun rdv enregistré</p>
    }

    <a asp-controller="User" asp-action="CreateAppointmentView" asp-route-userId=@Model.UserApp.Id>Create</a>
</div>