@model UserApp
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registration";
}
<h2>registration</h2>
<form asp-controller="User" asp-action="UserRegistration" method="post">
    <div>
        <label for="username">Nom d'utilisateur :</label>
        <input asp-for=UserName type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="email">Email :</label>
        <input asp-for=Email type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="pwd">Mot de passe :</label>
        <input asp-for=pwd type="password" id="pwd" name="pwd" required>
    </div>
    <div>
        <label for="confirm_password">Confirmer le mot de passe :</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
    </div>
    <div>
        <button type="submit">S'inscrire</button>
    </div>
</form>