@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Home Page</h1>
    <a asp-controller="User" asp-action="Registration">Register</a>
    <a asp-controller="User" asp-action="Connection">Connection</a>
</div>
